#last_5_film .header {
  padding-top: 10px;
  border-bottom: 1px solid #d8d8d8;
}
#last_5_film .header h3 {
  margin: 0px !important;
  color: #fbbd61;
  border-bottom: 3px solid #fbbd61;
  width: 25%;
  font-size: 1.2em;
  padding-bottom: 20px;
  text-transform: uppercase;
}
#last_5_film .inner {
  padding: 25px 0px;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  justify-content: space-between;
}
#last_5_film .inner .link_image {
  overflow: hidden;
  width: 20%;
  height: 287px;
  border-radius: 10px;
  overflow: hidden;
}
#last_5_film .inner .link_image a {
  position: relative;
}
#last_5_film .inner .link_image a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.2s linear;
}
#last_5_film .inner .link_image a .dublaj {
  position: absolute;
  top: -100px;
  left: -60px;
  width: 220px;
  height: 40px;
  transform: rotate(-45deg);
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 115%;
  font-family: "Kalam", cursive;
  text-transform: uppercase;
}
#last_5_film .inner .link_image a:hover img {
  transform: scale(1.1);
}
#last_5_film .inner .link_video {
  width: 50%;
  max-height: 287px;
  max-width: 500px;
  overflow: hidden;
  border-radius: 10px;
}
#last_5_film .inner .link_video a {
  position: relative;
  overflow: hidden;
}
#last_5_film .inner .link_video a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
#last_5_film .inner .link_video a .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 50px;
  height: 50px;
  clip-path: polygon(100% 50%, 10% 1%, 10% 100%);
  background-color: white;
  z-index: 1;
  opacity: 0;
  transition: all 0.2s linear;
  transition-delay: 0.2s;
}
#last_5_film .inner .link_video a .layout {
  position: absolute;
  width: 600px;
  height: 600px;
  top: 30px;
  left: -560px;
  transform: rotate(-30deg);
  background-color: #be5f289a;
  transition: all 0.2s linear;
}
#last_5_film .inner .link_video a .length {
  position: absolute;
  right: 20px;
  bottom: -130px;
  z-index: 2;
  color: white;
}
#last_5_film .inner .link_video a:hover .play {
  opacity: 0.8;
}
#last_5_film .inner .link_video a:hover .layout {
  top: -300px;
  left: -60px;
}
#last_5_film .inner .about {
  width: 30%;
}
#last_5_film .inner .about dt {
  color: #be5f28;
}
#last_5_film .inner .about dd i {
  margin: 5px;
}
#last_5_film .inner .about dd a {
  text-decoration: none;
  color: #fbbd61;
  text-transform: uppercase;
  transition: all 0.2s linear;
}
#last_5_film .inner .about dd a:hover {
  color: #be5f28;
}
#last_5_film .more {
  padding: 15px 50px;
  background-color: #be5f28;
  text-decoration: none;
  color: white;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all 0.2s linear;
}
#last_5_film .more:hover {
  background-color: #fbbd61;
}

@media (max-width: 1024px) {
  #last_5_film .header h3 {
    width: 60%;
  }
  #last_5_film .inner .link_image {
    width: 100%;
    height: 400px;
  }
  #last_5_film .inner .link_image a .dublaj {
    top: -150px;
  }
  #last_5_film .inner .link_video {
    display: none;
  }
  #last_5_film .inner .about {
    display: none;
  }
}